<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <img height="50" width="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/640px-Image_created_with_a_mobile_phone.png"/>
      </div>
      <div class="col center">
        <button class="btn btn-dark height-center">Home</button>
      </div>
    </div>
  </div>
  <div class="col center">
    <button class="btn btn-dark height-center">About Me</button>
  </div>
  <div class="col center">
    <button class="btn btn-dark height-center">My Projects</button>
  </div>
  <div class="col center">
    <button class="btn btn-dark height-center">Contact Me</button>
  </div>
</div>
